.add-mini-pic, .show-mini-pic {
  min-width: 300px;
  width: 40%;
  margin: 4%;
}
.add-mini-pic form, .show-mini-pic form {
  width: 100% !important;
}

.show-mini-pic .mini-card {
  width: 80%;
  min-width: 300px;
}

.add-mini-pic {
  display: flex;
  justify-content: center;
}
.add-mini-pic div {
  display: flex;
  flex-direction: column;
}
.add-mini-pic div h3 {
  width: 100%;
}
.add-mini-pic div form {
  display: flex;
  width: 100%;
}
.add-mini-pic div form input {
  width: 280px;
}
.add-mini-pic div form button {
  max-width: 280px !important;
}

.h-screen form {
  width: 250px;
}
.h-screen form input, .h-screen form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.h-screen #registre-product, .h-screen #registre-category, .h-screen .medium-form {
  width: 320px;
}
.h-screen #registre-product input, .h-screen #registre-category input, .h-screen .medium-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
}
.h-screen #registre-product input[type=file], .h-screen #registre-category input[type=file], .h-screen .medium-form input[type=file] {
  height: max-content;
}
.h-screen #registre-product .input-container, .h-screen #registre-category .input-container, .h-screen .medium-form .input-container {
  height: max-content;
}
.h-screen #registre-product textarea, .h-screen #registre-category textarea, .h-screen .medium-form textarea {
  width: 100%;
  border: 1px solid #ccc;
}
.h-screen #registre-product > *, .h-screen #registre-category > *, .h-screen .medium-form > * {
  width: 100%;
}
.h-screen #registre-product #edit-password, .h-screen #registre-category #edit-password, .h-screen .medium-form #edit-password {
  font-size: 10px;
}

#edit-password, #delete-account-button {
  font-size: 10px;
}

.h1 {
  font-size: 2rem !important;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-weight: 700 !important;
  padding: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.h2 {
  font-size: 1.5rem !important;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-weight: 700 !important;
  padding: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.min-pic-container:hover {
  border: 10px solid red;
}

.big-card-container {
  min-width: 250px !important;
  max-width: 500px;
}
.big-card-container .button-container {
  justify-content: space-around;
}
.big-card-container .button-container form {
  width: max-content;
}
.big-card-container .button-container form button {
  min-width: 100px !important;
}

.medium-picture {
  width: 150px;
  height: 150px;
}

.cont {
  min-height: 90vh !important;
}

.container h1 {
  font-size: 2.5rem;
}
.container .text-2xl {
  font-size: x-large;
}

.hidden {
  display: none !important;
}

#get-more-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

body {
  min-height: 100vh;
  height: max-content !important;
}

.home-banner {
  height: 200px;
}

#product-container {
  width: 100%;
}

#loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader .lds-ripple {
  display: inline-block;
  position: relative;
  height: 80px;
}
#loader .lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#loader .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*

<div class="lds-ripple"><div></div><div></div></div>

*/
/**Color **/
.card {
  display: inline-block;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 20px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px;
}
.card img {
  border: 0 !important;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  animation: 2s ease-in 1s blinks infinite;
}
.card img:hover {
  background: #000;
}
.card span {
  color: #333;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 10px 0 0 0;
  width: 100%;
  height: 20px;
}
.card .category {
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 20px;
  color: #2250ce;
  font-size: 14px;
  margin-top: 20px;
}
.card .title {
  overflow: hidden;
  font-weight: 500;
}

/** basket list horizontal card**/
.card-to-cart {
  display: inline-block;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 20px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;
  cursor: pointer;
}
.card-to-cart:first-child :nth-child(1),
.card-to-cart:first-child :nth-child(2) {
  padding: 3px;
}
.card-to-cart:first-child :nth-child(2) {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.card-no-pic {
  display: inline-block;
  border: 1px solid #ccc;
  margin: 5px;
  width: 200px;
  height: 180px;
  min-height: 180px;
  min-width: 180px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s ease-in 0.1s;
  overflow: hidden;
}
.card-no-pic > *:first-child {
  min-height: 175px;
  min-width: 175px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 10px;
}
.card-no-pic > *:first-child > :nth-child(1) {
  border-top-left-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  box-shadow: 1px solid #747474;
}
.card-no-pic > *:first-child > :nth-child(2) {
  padding: 5px;
  border: 1px solid #ccc;
  display: inline-block;
}

.active {
  height: max-content !important;
}

#card-loader {
  width: 100%;
  min-height: 100vh;
}
#card-loader .card {
  display: inline-block;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 20px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px;
}
#card-loader .card img {
  border: 0 !important;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  background: #cccccc;
  animation: 2s ease-in 1s blinks infinite;
}
#card-loader .card span {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 10px 0 0 0;
  background: #cccccc;
  width: 100%;
  height: 20px;
  animation: 2s ease-in 1s blinks infinite;
}
#card-loader .card .category {
  display: inline-block;
  text-align: left;
  background: #cccccc;
  width: 100%;
  height: 20px;
}

@keyframes blinks {
  0% {
    background: #cccccc;
  }
  50% {
    background: rgba(204, 204, 204, 0);
  }
  100% {
    background: #cccccc;
  }
}
.btn {
  width: 100px;
  min-height: 25px;
  padding: 5px;
  text-align: center;
  border: 1px solid #666;
  border-radius: 5px;
  margin-bottom: 5px;
  align-self: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
}
.btn:hover {
  color: #fff;
}

.btns-row {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
.btns-row form {
  display: flex;
  align-items: center;
}
.btns-row form button {
  padding-bottom: 3px;
  border: 0;
  background: transparent;
}
.btns-row a, .btns-row button {
  color: #ccc;
  padding: 3px;
  border-bottom: 1px solid rgba(200, 200, 200, 0);
}
.btns-row a:hover, .btns-row button:hover {
  color: #eee !important;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.btn-b {
  background: #5f90cf;
  color: #fff;
}
.btn-b:hover {
  background: #3e80d6;
}

.btn-r {
  background: #d82f23;
  color: #fff;
}
.btn-r:hover {
  background: #b11e13;
}

.btn-green {
  background-color: #4eaf73;
  color: #fff;
}
.btn-green:hover {
  background: #2f9b58;
  color: #fff;
}

.btn-o {
  background: #FF6800;
  color: #fff;
  border: 0;
  font-weight: medium;
  padding: 10px;
  font-size: 10px;
}
.btn-o:hover {
  background: #bb5b0c;
}

.btn-gray {
  background: #fff;
  color: #666;
}
.btn-gray:hover {
  background: #3d3a3a;
  color: #fff;
}

#filter-board {
  margin: 10px;
  width: 200px;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 4px #ccc;
}
#filter-board .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#filter-board div {
  padding-top: 5px;
}
#filter-board div div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#filter-board div div span, #filter-board div div div {
  padding-left: 20px;
  width: 50%;
  padding-bottom: 5px;
}
#filter-board div div:nth-child(1) {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#filter-board div .symbol {
  border-bottom: 1px solid #ccc;
}
#filter-board div .symbol > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#filter-board div input {
  cursor: pointer;
}

.stick {
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
}

.no-stick {
  position: static !important;
}

.f-div-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.f-div-2 > * {
  width: calc(50% - 160px);
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.f-div-2-start {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: left;
}
.f-div-2-start > * {
  width: calc(50% - 160px);
  min-width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.f-div-y-l {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.f-div-y-l > * {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.f-div-2-8 {
  display: flex;
  flex-direction: row;
}
.f-div-2-8 > :first-child {
  width: 30%;
}
.f-div-2-8 > :last-child {
  width: 70%;
}

.f-div-4 {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}
.f-div-4 h3 {
  text-align: center;
}
.f-div-4 img {
  width: 150px;
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
.f-div-4 div {
  min-height: 170px;
  width: 200px;
}
.f-div-4 div p {
  width: 150px;
  margin: 0 25px 0 25px;
  font-size: 8px;
  min-height: 50px;
  text-align: center;
}

.f-div-space {
  display: flex;
  justify-content: center;
  flex-wrap: center;
  flex-direction: column;
}

@media screen and (max-width: 905px) {
  .mini-pic-list-container {
    display: flex;
    justify-content: center !important;
  }
  .mini-pic-list-container form {
    width: 100%;
  }
}
@media screen and (min-width: 905px) {
  .show-mini-pic .mini-card {
    margin-left: 10%;
  }
}

/*# sourceMappingURL=index.css.map */
