/**Color **/
$bg-color : rgba(204, 204, 204 , 1);
$bg-color-transparent : rgba(204, 204, 204 , 0);
$category : rgb(34, 80, 206);
$white : #fff;
$black : #222;

$radius : 5px;
$card-radius : 10px;

$txt-color : #333; 
$blink :  2s ease-in 1s blinks infinite;

$gray : #ccc;

.card {
    display: inline-block;
    width: 200px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 20px 15px 10px 15px;
    border-radius: $card-radius;
    margin: 10px;

    img {
        border: 0!important;
        border-radius: $radius;
        width: 200px;
        height: 150px;
        margin-bottom: 10px;
        animation: $blink;

        &:hover {
            background: #000;
        }
    }

    span {
        color: $txt-color;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin: 10px 0 0 0;
        width: 100%;
        height: 20px;
    }

    .category {
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 20px;
        color: $category;
        font-size: 14px; 
        margin-top: 20px;
    }

    .title {
        overflow: hidden;
        font-weight: 500;
    }

}

/** basket list horizontal card**/
.card-to-cart {
    
    display: inline-block;
    width: 200px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 20px 15px 10px 15px;
    border-radius: $card-radius;
    margin: 10px;
    background-color: $white;
    cursor: pointer;

    &:first-child {

        :nth-child(1),
        :nth-child(2)
        {
            padding: 3px;
        }

        :nth-child(2) {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
}

.card-no-pic {
    display: inline-block;
    border: 1px solid $gray;
    margin: 5px;
    width: 200px;
    height: 180px;
    min-height: 180px;
    min-width: 180px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: $card-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: .3s ease-in .1s;
    overflow: hidden;

    & > * {

        &:first-child {
            min-height: 175px;
            min-width: 175px;
            border-radius: $card-radius;
            padding: 10px;
            padding-left: 10px;

            & > :nth-child(1) {
                border-top-left-radius: 5px;
                padding: 5px;
                margin-bottom: 10px;
                border: 1px solid $gray;
                display: inline-block;
                box-shadow: 1px solid rgb(116, 116, 116);
            }

            & > :nth-child(2) {
                padding: 5px;
                border: 1px solid $gray;
                display: inline-block;
            }
        }
    }

}


.active{
    height: max-content!important;
}



#card-loader
{
    width: 100%;
    min-height: 100vh;
    
    .card {
        display: inline-block;
        width: 200px;
        height: 300px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        padding: 20px 15px 10px 15px;
        border-radius: $card-radius;
        margin: 10px;

        img {
            border: 0!important;
            border-radius: $radius;
            width: 200px;
            height: 150px;
            margin-bottom: 10px;
            background: $bg-color;
            animation: $blink;
        }

        span {
            text-align: center;
            display: inline-block;
            width: 100%;
            margin: 10px 0 0 0;
            background: $bg-color;
            width: 100%;
            height: 20px;
            animation: $blink;
        }

        .category {
            display: inline-block;
            text-align: left;
            background: $bg-color;
            width: 100%;
            height: 20px;
        }
    }
}

@keyframes blinks {
    0% {
        background:$bg-color;
    }
    
    50% {
        background: $bg-color-transparent;
    }
    
    100% {
        background:$bg-color;
    }
}