$gray : #ccc;
$height-element-separator : 5px;

#filter-board {
    margin: 10px;
    width: 200px;
    padding: 10px 0 ;
    border: 1px solid $gray;
    border-radius: 5px;
    box-shadow: 0 0 4px $gray;
    
    .header {
        display: flex ;
        justify-content: center;
        align-items: center;
    }

    div {

        padding-top: $height-element-separator ;

        div {

            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            span , div {
                padding-left: 20px;
                width: 50%;
                padding-bottom: $height-element-separator ;
            }
        }

        div:nth-child(1) {
            border-bottom: 1px solid $gray;
            border-top: 1px solid $gray;
        }
        
        .symbol {
            border-bottom: 1px solid $gray;
        }
        .symbol > div > span {
            

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    
        input {
            cursor : pointer;
        }
    }
}   